html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*===============================================================================
Nav Styling
===============================================================================*/

.nav {
    background-color: #FFBF00;
    width: 15%;
    min-height: 100%;
    margin: 0;
    text-align: center;
    position: fixed;
}

.nav h1, h5 {
    color: #555555;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 0;
    font-family: Helvetica, sans-serif;
}

.nav ul {
    list-style: none;
    color: #555555;
    width: 100%;
    padding: 10% 10% 10% 0;
    font-family: Helvetica, sans-serif;
}

.nav ul li {
    padding-top: 8%;
}

.nav ul li:hover {
    color: #999999;
    background-color: #F7D358;
}

/*===============================================================================
Main Body Styling
===============================================================================*/
.container {
    min-height: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.maincontainer {
    display: inline-block;
    background: url("imgs/wood.jpg");
    width:100%;
    height: 300px;
    margin: 0;
    padding: 0;
}

.secondcontainer {
    display: inline-block;
    background: url("imgs/metal.jpg");
    margin:0;
    width:100%;
    height: 500px;
    padding: 0;
}

.social {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background: url("imgs/wood.jpg");
}